@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-default {
    @apply border-2 rounded-lg;
  }

  .border-pattern-primary-dark {
    @apply border-default border-primary-dark;
  }

  .border-pattern-primary-light {
    @apply border-default border-primary-light;
  }

  .disabled {
    @apply disabled:border-zinc-200 disabled:bg-zinc-200 disabled:text-background;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color-dark: #0d2038;
  --primary-color-light: #1858ae;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}
